SPRING_RABBITMQ_HOST=you_rabbitmq_host
SPRING_RABBITMQ_PORT=you_rabbitmq_port
SPRING_RABBITMQ_USERNAME=you_rabbitmq_username
SPRING_RABBITMQ_PASSWORD=you_rabbitmq_password
SPRING_RABBITMQ_VHOST=you_rabbitmq_vhost
APP_RABBITMQ_SSL=you_rabbitmq_ssl
SPRING_RABBITMQ_QUEUE=you_rabbitmq_queue
SPRING_RABBITMQ_EXCHANGE=you_rabbitmq_exchange
SPRING_RABBITMQ_ROUTING_KEY=you_rabbitmq_routing_key

SPRING_DATASOURCE_URL=you_datasource_url
SPRING_DATASOURCE_USERNAME=you_datasource_username
SPRING_DATASOURCE_PASSWORD=you_datasource_password

B2_KEY_ID=you_b2_key_id
B2_APPLICATION_KEY=you_b2_application_key
B2_BUCKET_NAME=you_b2_bucket_name
B2_ENDPOINT=you_b2_endpoint
B2_REGION=you_b2_region
B2_ENDPOINT_PREFIX=you_b2_endpoint_prefix
B2_ENDPOINT_SUFFIX=you_b2_endpoint_suffix

PORT=you_port

SPRING_MAIL_HOST=you_mail_host
SPRING_MAIL_PORT=you_mail_port
SPRING_MAIL_USERNAME=you_mail_username
SPRING_MAIL_PASSWORD=you_mail_password
SPRING_MAIL_FROM_EMAIL=you_mail_from_email

API_KEY_SIGNATURE=you_api_key_signature
APP_JWT_SECRET=you_jwt_secret
APP_TOKEN_ACCESS_TOKEN_DURATION=you_access_token_duration
APP_TOKEN_REFRESH_TOKEN_DURATION=you_refresh_token_duration
APP_TOKEN_MAX_TOKEN_GENERATION_RETRIES=you_max_token_generation_retries
APP_TOKEN_MAX_ACTIVE_TOKENS_PER_USER=you_max_active_tokens_per_user
APP_TOKEN_CLEANUP_CRON=you_token_cleanup_cron
