INFRA_RABBITMQ_HOST=localhost
INFRA_RABBITMQ_PORT=5672
INFRA_RABBITMQ_USERNAME=dummy
INFRA_RABBITMQ_PASSWORD=dummy
INFRA_RABBITMQ_EXCHANGE=dummy-exchange
INFRA_RABBITMQ_QUEUE=dummy-queue
INFRA_RABBITMQ_ROUTING_KEY=dummy.routing.key

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dummydb
SPRING_DATASOURCE_USERNAME=dummy
SPRING_DATASOURCE_PASSWORD=dummy
